# Omitir contenido dentro de .idea
.idea/*

# Excluir el archivo de configuración específico de IntelliJ IDEA
!.idea/workspace.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/uiDesigner.xml
!.idea/runConfigurations/*

# Excluir archivos específicos de Eclipse
.classpath
.project
.settings/

# Excluir archivos específicos de NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Excluir archivos específicos de Visual Studio Code
.vscode/

# Excluir archivos específicos de Mac OS
.DS_Store

# Excluir la carpeta target en la raíz del proyecto
/target/

# Incluir el archivo Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Incluir carpetas target dentro de src/main y src/test
!**/src/main/**/target/
!**/src/test/**/target/
